<div class="extension_block">
    <div class="inline-drawer">
        <div class="inline-drawer-toggle inline-drawer-header">
            <b>__EXT_DISPLAY_NAME__</b>
            <div class="inline-drawer-icon fa-solid fa-circle-chevron-down down"></div>
        </div>
        <div class="inline-drawer-content">
            <div class="stext__settings-row">
                <input id="__EXT_SLUG___enabled" type="checkbox" />
                <label for="__EXT_SLUG___enabled">Enable command</label>
            </div>
            <div class="stext__settings-row">
                <input id="__EXT_SLUG___debug" type="checkbox" />
                <label for="__EXT_SLUG___debug">Enable debug logs</label>
            </div>
            <small>Command: /__EXT_SLUG__ &lt;text&gt; [--upper=true|false]</small>
        </div>
    </div>
</div>
